.formControl.error input,
.formControl.error textarea {
    border: 2px red solid;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: darkred 1px solid;
    background-color: darkred;
    padding: 5px;
    color: white;
}