.header{
    display: flex;
    background-color: #6E1E6C;
    padding: 8px 10px;
    align-items: center;
    column-gap: 15px;
}

.name{
    color:white;
    font-size: 24px;
    font-family: Inter;

}
.header img{
    width: 50px;
    height: 50px;
}

.loginBlock {
   display: flex;
    align-items: center;
    margin-left: auto;
}

.buttonLogin{

    text-decoration: none;
    width: 87px;
    height: 38px;
    border: 1px white solid;
    border-radius: 5px;
    background: #6E1E6C;
    color: white;
    padding: 8px 23px;
    font-size: 16px;
    white-space: nowrap;
}

.login {
    text-decoration: none;
    color: white;
}
