.nav {
    grid-area: n;
    background-color: #6E1E6C;
    width: 100px;
    text-align: center;
    padding: 20px;


}
.icon{
    padding-bottom: 20px;
}

.icon a {
    text-decoration: none;
    color: white;
}

.icons{
    width: 12px;
    height: 12px;
}

.icon a.activeLink {
    color: white;
    border:1px white solid;
    background-color: #440044;
    border-radius: 5px;
    padding: 8px;

}