.profileEditData{
    margin-top: 15px;
}
b{
    color: black;
    font-family: Inter;
    font-weight: bold;
    font-size: 18px;
}

input{
    border-radius: 8px;
    width: 300px;
    height: 20px;
    font-size: 14px;
    margin-top: 5px;
    align-items: end;
}

.checkboxItem{
    margin-left: 10px;
}

textarea{
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
    height: 60px;
    padding-right: 100px;
}

.buttonSave{
    margin-top: 7px;
}