.formBox {
    background-color: #F7F7F7;
    width: 378px;
    min-height: 456px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    padding: 2%;
}

.formBox .inputItem input {
    display: block;
    width: 352px;
    height: 30px;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border: 1px solid lightgrey;
    border-radius: 8px;
    font-size: 20px;

}

.formBox .captchaItem input {
    display: block;
    width: 175px;
    height: 10px;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border: 1px solid lightgrey;
    border-radius: 8px;
    font-size: 14px;

}

.inputItem {
    margin-bottom: 50px;
}

.formBox .checkboxItem input {
    border-radius: 8px;
    width: 20px;
    height: 20px;
}
.textRemember{
    margin-left: 45px;
    margin-bottom: -22px;
}

.formBox .buttonLogin button{
    text-decoration: none;
    width: 87px;
    height: 38px;
    border: 1px white solid;
    border-radius: 5px;
    background: #6E1E6C;
    color: white;
    padding: 8px 23px;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 147px;
}

.formBox .buttonLogin button:hover {
    background: #BF1891;
}

.formBox .buttonLogin button:focus {
    background-color: #E5CFDF;
    color:#6E1E6C;
}

