.form{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 90px;
}

.formBox {
    background-color:  #ededed;
    height: auto;
    padding: 25px;
    border-radius: 5px;
    width: fit-content;
}

.formBox .inputItem input {
    display: block;
    align-items: center;
    width: 300px;
    height: 30px;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border: 1px solid lightgrey;
    border-radius: 8px;
    font-size: 20px;

}

.formBox .captchaItem input {
    display: block;
    width: 200px;
    height: 10px;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border: 1px solid lightgrey;
    border-radius: 8px;
    font-size: 14px;

}

.inputItem {
    margin-bottom: 50px;
}

.formBox .checkboxItem input {
    border-radius: 8px;
    width: 20px;
    height: 20px;
}
.textRemember{
    margin-left: 45px;
    margin-bottom: -22px;
}
.buttonLogin{
    margin-top: 30px;
    margin-left: 100px;
}


