.app-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-wrapper-content {
    display: flex;
    height: 100%;
}

.page-wrap {
    max-height: 94vh;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.error{
    margin-top: 50px;
    margin-left: 300px;
    width: 50%;
    height: 50%;
}


