.app-wrapper{
  display: grid;
  width: 100px;
  height: 100px;
  grid-template-areas:
          'h h'
          'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}
.nav{
  grid-area: n;
  background-color: lightyellow;

}
.header{
grid-area: h;
  background-color: yellowgreen;
}
.header img{
  width: 20px;
}
.content{
grid-area: c;
  background-color: slategrey;
}